@charset "utf-8";
/* CSS Document */

/* IE 8 and below layout is not responsive */

#scale_container{
	position:relative; /* allows positioning for nav_container */
	width:960px;
	margin:auto;
	-moz-box-shadow: 0 0 15px #333;
	-webkit-box-shadow: 0 0 15px #333;
	box-shadow: 0 0 15px #333;
}

#divider_statement{
	background-image:url('../images/bg_divider_statement_ie.jpg');
}
#fancynav{
	background:url('../images/fancy_nav_ie.png') 0 0 no-repeat;
}
.ui-accordion-header-icon.ui-icon-down {
background-image: url('../images/arrow_down_ie.png');
}
#social_nav a#fb{background-image:url('../images/social_fb_ie.png');}
#social_nav a#twitter{background-image:url('../images/social_twitter_ie.png');}
#social_nav a#google{background-image:url('../images/social_google_ie.png');}
#closebox{background:url('../images/topnav_close_ie.png') center center no-repeat;}
.contact_twitter{background-image:url('../images/contact_icon_twitter_ie.png');}
.contact_email{background-image:url('../images/contact_icon_email_ie.png');}