@charset "utf-8";
/* CSS Document */
html {
	font-size:62.5%; /* baseline for ease of determining em/rem units */
	} 
body {
	margin:0;
	padding:0;
	background:#4b4a43 url('../images/bg_pattern.png') center repeat-y;
	}

/* embedded fonts */
@font-face {
	font-family: 'Cubano-Regular';
	src: url('../webfonts/Cubano-Regular.eot');
	src: local('☺'), url('../webfonts/Cubano-Regular.woff') format('woff'), url('../webfonts/Cubano-Regular.ttf') format('truetype'), url('../webfonts/Cubano-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'National-Book';
	src: url('../webfonts/National-Book.eot');
	src: local('☺'), url('../webfonts/National-Book.woff') format('woff'), url('../webfonts/National-Book.ttf') format('truetype'), url('../webfonts/National-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'National-Semibold';
	src: url('../webfonts/National-Semibold.eot');
	src: local('☺'), url('../webfonts/National-Semibold.woff') format('woff'), url('../webfonts/National-Semibold.ttf') format('truetype'), url('../webfonts/National-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'National-Bold';
	src: url('../webfonts/National-Bold.eot');
	src: local('☺'), url('../webfonts/National-Bold.woff') format('woff'), url('../webfonts/National-Bold.ttf') format('truetype'), url('../webfonts/National-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Carton';
	src: url('../webfonts/Carton.eot');
	src: local('☺'), url('../webfonts/Carton.woff') format('woff'), url('../webfonts/Carton.ttf') format('truetype'), url('../webfonts/Carton.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


	
/* media queries for adaptive css font sizes */
@media (min-width: 100px) { body {font-size:.3rem;} } 
@media (min-width: 321px) { body {font-size:.4rem;} } 
@media (min-width: 425px) { body {font-size:.5rem;} } 
@media (min-width: 519px) { body {font-size:.6rem;} } 
@media (min-width: 610px) { body {font-size:.7rem;} } 
@media (min-width:768px) { body {font-size:.85rem;} } 
@media (min-width:920px) { body {font-size:1rem;} } 


/* fixed top nav */
#topbar_container{
	position:absolute;
	z-index:1000;
	width:100%;
}
#topbar{	
	position:fixed;	
	top:-22px;
	height:30px;
	width:100%;
	background-color:#ed145b;
	-moz-box-shadow: 0 0 7px #000;
	-webkit-box-shadow: 0 0 7px #000;
	box-shadow: 0 0 7px #000;
}
#closebox{
	position:fixed;	
	top:-22px;
	right: 0;
	width:30px;
	height:30px;
	background:url('../images/topnav_close.png') center center no-repeat;
	background-size:30%;
	cursor:pointer;
}
#social_nav_container{
	position:absolute;
	z-index:1001;
	width:75px;
	right:-39px;
}
#social_nav{
	position:fixed;
	top:-26px;
	height:22px;
	width:75px;
	padding-top:3px;
}
#social_nav a{
	display:block;
	float:left;
	height:22px;
	width:22px;
	margin-right:3px;
	background-size:100%;
}
#social_nav a#fb{background-image:url('../images/social_fb.png');}
#social_nav a#twitter{background-image:url('../images/social_twitter.png');}
#social_nav a#google{background-image:url('../images/social_google.png');}
#nav_container{
	position:absolute;
	z-index:999;
	width:113px;
	height:202px;
	right:-56px;
}
#fancynav{
	position:fixed;
	height:171px;
	width:112px;
	padding-top:17px;
	background:url('../images/fancy_nav_lrg.png') 0 0 no-repeat;
	background-size:100%;
	text-align:center;
	font:10px/9px 'National-Book', Arial, Helvetica, sans-serif;
	color:#a09e8f;
}
#fancynav a{
	display:block;
	width:55px;
	margin:auto;
	font:10px/12px 'National-Book', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
}
#fancynav a:link, #fancynav a:visited{
	color:#FFF;
	text-decoration:none;
}
#fancynav a:hover, #fancynav a:active, #fancynav a.selected{
	color:#ed145b;
	text-decoration:none;
}
#nav_share{cursor:pointer;}


/* container styles */

#scale_container{
	position:relative; /* allows positioning for nav_container */
	width:100%;
	max-width:960px;
	margin:auto;
	-moz-box-shadow: 0 0 15px #333;
	-webkit-box-shadow: 0 0 15px #333;
	box-shadow: 0 0 15px #333;
}
#outer_main{
	text-align:center;
	position:relative;
}

/* background styling for each main section */
#section_home{
	background-color:#5e5940;
	background-image:url('../images/bg_home_shorter.jpg');
	height: 0;
    padding-bottom: 70%; /* percentage relative to width of parent container to maintain aspect ratio */
}
#section_video_offset{
	height:0px;
	overflow:hidden;
	position:relative;
	top:-50px;
}
#section_video{
	background-color:#a09e8f;
	background-image:url('../images/bg_diamond.png');
	height: 0;
    padding-bottom: 56.25%;
	
}

.responsive_video {
	position:relative;
	width:100%;
	padding-bottom: 56.25%;
	height: 0;
	margin:auto;
	overflow: hidden;
}

.responsive_video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#video_mask{
	position:absolute;
	z-index:997;
	width:100%;
	height:0;
	padding-bottom:56.25%;
	background:#a09e8f url('../images/titlescreen.jpg') center center no-repeat;
	background-size:100%;
}
#video_circle{
	position:absolute;
	z-index:998;
	display:block;
	width:100%;
	height:0;
	padding-bottom:56%;
	background:url('../images/video_circle.png') center center no-repeat;
	background-size:12%;
	cursor:pointer;
	/*width:32%;
	margin:46% auto 0% auto;
	*/
	
}
#video_circle:hover{
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}


#section_one{
	background-color:#8e8b7d;
	background-image:url('../images/bg_one.jpg');
	height: 0;
	padding-bottom: 67.5%;
}
#section_two{
	background-color:#8e8b7d;
	background-image:url('../images/bg_two.jpg');
	height: 0;
	padding-bottom: 67.7%;
}
#section_two_point_five{
	background-color:#8e8b7d;
	/*background-image:url('../images/bg_two.jpg');*/
	background-image:url('../images/bg_diamond.png');
	height: 0;
	padding-bottom: 42%;
}

#section_two_point_five h2{
	padding: 0 0 0 1.5em;
}

.paper {
	padding: 6% 10% 6% 10%;
	margin: 1% 10% 10% 10%;
	background-color:white;
	font-size:14px;
	text-align:left;
	box-shadow: 5px 5px 5px #444444;
}
.paper li {
	padding-top: 0.5em;
}

#section_two_point_six_inner{
	margin:0 2.7% 0 4.7%;
	padding:2.9% 3.1% 4% 3.1%;
	background-image:url('../images/bg_gray_70.png');
}
#section_two_point_six{
	background-color:#8e8b7d;
	background-image:url('../images/bg_diamond.png');
	/*height: 0;*/
	padding: 4% 2% 0 0;
}
#section_two_point_six h2{
	padding: 0% 0% 0% 0%;
}
#section_two_point_six li{
	font:1.8em/1.2em 'National-Book', Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	margin:0 0 1% 0;
	padding-top:0.7em;
	text-align:left;
    list-style-type: none;
}
#section_two_point_six li:before {
    content: "• ";
    color:#ed145b;
}
#section_two_point_six .question{
	font:normal 1em/1em 'Cubano-regular', Arial, Helvetica, sans-serif;
	/*font:1.3em/1.2em 'National-Book', Arial, Helvetica, sans-serif;*/
	color:#FFFFFF;
	padding:0;
	cursor: pointer;
}
#section_two_point_six .answer{
	font:1em/1em 'National-Book', Arial, Helvetica, sans-serif;
	line-height: 1.15em;
	color:#FFFFFF;
	padding:2% 0 0 5%;
}

.answer li{
	font:1em/1em 'National-Book', Arial, Helvetica, sans-serif !important;
	line-height: 1.15em;
	color:#FFFFFF;
}

#section_two_point_six a{
    color:#ed145b;
}

#spacer {
	height:20px;
}
#section_three{
	background-color:#898779;
	background-image:url('../images/bg_three.jpg');
	height: 0;
	padding-top:5.7%;
	padding-bottom: 77.63%;
}
#section_three_inner{
	margin:0 4.7% 0 4.7%;
	padding:2.9% 3.1% 3.9% 3.1%;
	background-image:url('../images/bg_gray_70.png');
}
#section_four{
	background-color:#a09e8f;
	background-image:url('../images/bg_diamond.png');
	height: 0;
	padding-top:5.7%;
	padding-bottom: 121.5%;
}
.section_four_inner{
	margin:0 4.7% .625% 4.7%;
	padding:3.1%;
	background-image:url('../images/bg_tan_60.png');
}
.section_four_inner_dark{
	margin:0 4.7% .625% 4.7%;
	padding:3.1%;
	background-image:url('../images/bg_olive_70.png');
}

#who_we_are {
	padding-bottom: 14% !important;
}
.bg_sizing{
	background-repeat:no-repeat;
	background-position:top left;
	-webkit-background-size: 100% auto;
 	 -moz-background-size: 100% auto;
  	-o-background-size: 100% auto;
	background-size: 100% auto; 
}

/* layout */
.doublecolumn{
	float:left;
	width:40%;
	margin-right:5%;
	text-align:left;
}
.tricolumn{
	float:left;
	width:30%;
	margin-right:5%;
	text-align:left;
	color:#FFFFFF;
}
.tricolumn p, .tricolumn li, .list_title {
	font:1.4em/1.3em 'National-Book', Arial, Helvetica, sans-serif;	
	color:#FFFFFF;
}
.tricolumn a:link, .tricolumn a:visited {color:#FFFFFF; text-decoration:none;}
.tricolumn a:hover, .tricolumn a:active {color:#FFFFFF; text-decoration:none;}
#take_action .tricolumn a:link, #take_action .tricolumn a:visited {color:#4b4a43; text-decoration:none;}
#take_action .tricolumn a:hover, #take_action .tricolumn a:active {color:#4b4a43; text-decoration:none;}
#take_action .tricolumn p{color:#4b4a43;}
.tricolumn p.smaller {
	font-size:1.3em;
	line-height:1.2em;
}
.tricolumn h3{
	margin: -2% 0 10% 0;	
}
.tricolumn h5{
	font:normal 1.7em/1em 'Cubano-regular', Arial, Helvetica, sans-serif;
	margin: 1em 0 4% 0;
	color:#6c6a5b;
}
.tricolumn.toppad{
	margin-top:3.7%;	
}
.pinkcaps{
	text-transform:uppercase;
	font-family:'Carton', Arial, Helvetica, sans-serif;
	color:#ed145b;
}
.salmon{
	color: #ed145b;
}
.list_title{
	display:block;
	padding-bottom:3%;
	margin-top:5%;
	margin-bottom:6%;
	border-bottom:1px solid #a09e8f;
}
.tricolumn ul {
    list-style: none;
    padding:0;
    margin:0;
}
.tricolumn li { 
    padding-left: 5%; 
    text-indent: -4%;
	line-height:1.6em;
}
.tricolumn li:before {
    content: "•  ";
    color: #ed145b;
}
#connect_icon_container{
	margin:5% 0 7% 0;
}
.connect_icon{
	display:block;
	float:left;
	width:24%;
	margin-right:2.5%;
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center center;
}
.connect_icon img{width:100%;}
.connect_detail{
	display:block;
	font:1.2em 'National-Semibold', Arial, Helvetica, sans-serif;
	color:#4b4a43;
}
.connect_detail a{
	font-family:'National-Semibold', Arial, Helvetica, sans-serif;
	color:#4b4a43;
	text-decoration:none;
}
#section_footer{
	background-color:#a09e8f;
	padding:10% 0 5% 0;
}
#section_footer_inner{
	margin:0 4.7% 0 4.7%;
}
#privacy-policy-link {
	text-decoration: underline;
	cursor: pointer
}
.footer_col{
	width:47%;
	float:left;
	margin-right:5%;
	text-align:left;
	font:1.3em 'National-Book', Arial, Helvetica, sans-serif;
	color:#383732;
	padding-left: 28%;
}
.col_last{margin-right:0;	}
.footer_col h5{
	font:1.2em 'National-Semibold', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	margin:0 0 1em 0;
	padding:0;
}
.divider_footer{
	background-color:#dcd9c5;
	padding: 2%;
	position:relative;
	font:1.2em/0em 'National-Book', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#4b4a43;
}
.divider_footer .lft_txt{
	float:left;
	width:43%;
	text-align:center;
	line-height:initial;
}
.divider_footer .rt_txt{
	float:right;
	width:40%;
	padding-top:1%;
	text-align:center;
}
#back_to_top{
	display:block;
	width:4%;
	padding-top:1.5%;
	position:absolute;
	right:-6%;
	top:2px;
	font:.8em "Carton", Georgia, "Times New Roman", Times, serif;
	text-transform:uppercase;
	text-decoration:none;
	color:#a09e8f;
	background:url('../images/back_to_top_arrow.png') center top no-repeat;
	background-size:100%;
}
#footerlogo{
	position:absolute;
	left:44%;
	width:16.77%;
	top:-79%;
}
.centercol{
	width:41%;
	text-align:center;
	color:#FFF;
	margin:auto;
}
.down_arrow_home{
	width:10%;
	padding-bottom:5.5%;
	outline:none;
	border:none;
}
.leftcol, .rightcol{
	width:50%;
	position:relative;
}
.leftcol{float:left;}
.rightcol{float:right;}

h1, h2{	
	text-transform:uppercase;
	color:#000;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
h1{
	font:6.8em/1em 'Cubano-Regular', Helvetica, sans-serif;
	display:block;
	text-align:right;
	margin:22.5% 9.18% 0 0;
	padding:0;
}
#medallion{
	width:81%;
	margin:30% auto 0% auto;	
}

#center_textbox_home{
	padding:5% 5% 1% 5% !important;
	text-align:center;
	/*font:2.4em/1.2em 'Cubano-Regular', Helvetica, sans-serif;*/
	font:2.5em 'National-Bold', Arial, Helvetica, sans-serif;
	/*text-transform:uppercase;*/
	color:#FFF;
	text-shadow: 2px 2px 5px #333;
	letter-spacing:.04em;
}

#center_textbox_video{
	padding:7% 0 5% 0;
	text-align:center;
	font:1.8em/1.2em 'Cubano-Regular', Helvetica, sans-serif;
	text-transform:uppercase;
	color:#FFF;
	text-shadow: 2px 2px 5px #666;
	letter-spacing:.1em;
}
.h2_container{
	height:0;
	position:relative;
}
.leftcol .h2_container{
	width:77.67%;
	margin:32.33% 0 0 12%;
	padding-bottom:63.54%;
}
.rightcol .h2_container{
	width:83%;
	margin:33.33% 0 0 8.33%;
	padding-bottom:46.125%;
}
.h2_topbar, .h2_bottombar{
	position:absolute;
	display:none;
	width:100%;
	height:0;
	padding-bottom:4%;
	background-color:#ed145b;
	margin: 5% 0% 5% 0%;
}

.leftcol .h2_topbar, .leftcol .h2_bottombar{
	padding-bottom:4.6%;
}
h2{
	font:3.6em/1.35em 'Cubano-Regular', Helvetica, sans-serif;
/*	display:none;*/
	text-align:left;
	margin:0;
	padding:12.8% 1.56% 0 1.8%;
	color:#FFF;
	text-shadow: 2px 2px 5px #666;
}
.leftcol h2{text-align:left;}
.rightcol h2{text-align:left;}
h3{
	display:block;
	font:3.2em/1.1em 'Cubano-Regular', Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	padding:0;
	margin:0 0 3.9% 0;
	text-align:left;
}
h4{
	display:block;
	font:4em/1.1em 'Cubano-Regular', Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	padding:0;
	margin:0 0 2% 0;
	text-align:left;
}

.section_textbox{
	position:absolute;
	width:57.295%;
	padding:33% 8.33% 0 9.375%;
	background-image:url('../images/bg_textcol.png');
}


.leftcol .section_textbox{
	text-align:left;
	left:0;
}
.rightcol .section_textbox{
	text-align:left;
	left:25%;
}
.section_textbox p{
	font:1.8em/1.6em 'National-Book', Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	margin:0 0 1.5em 0;
	padding:0;
}
.rightcol .section_textbox p{
	font:1.8em/1.0em 'National-Book', Arial, Helvetica, sans-serif;
}
#solution_textbox{
	overflow-y: hidden;
	padding-bottom: 0px;
}
.section_textbox img{
	display:block;
	width:100%;
	margin:1em 0 3em 0;
	padding:0;
}
#section_one .section_textbox{
	height: 0;
	padding-bottom: 102%;
}
#section_one h2 {
	padding-top: 10.8%;
}

#section_two .section_textbox{
	height: 0;
	padding-top: 10%;
	padding-bottom: 122%;
}

.divider_thin{
	background-color:#6c6a5b;
	background-image:url('../images/bg_divider.png');
	border-top:1px solid #525048;
	border-bottom:1px solid #525048;
	height: 0;
	padding-bottom: 1.3%;
}
.divider{
	background-color:#dcd9c5;
	height: 0;
	padding-bottom: 13%;
}
#divider_goals{
	background-image:url('../images/bg_divider_goals.png');
}
#divider_statement{
	background-image:url('../images/bg_divider_statement.jpg');
	padding-bottom: 13.645%;
}
/* How it Works */
.row{
	text-align:left;
	margin-bottom:6.9%;
}
.row_number{
	display:block;
	float:left;
	width:8.6%;
	text-align:left;
	font:9.6em/1.1em 'Cubano-Regular', Arial, Helvetica, sans-serif;
	color:#5a5748;
	padding-left: 28%;
}
.row_graphic{
	float:left;
	border-left:1px solid #6c6958;
	border-right:1px solid #6c6958;
	height:0;
	padding:0 0 15.308% 0;
	width:0px;
}
.row_graphic.bg_sizing{
	background-repeat:no-repeat;
	background-position:top left;
	-webkit-background-size: cover;
 	 -moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover; 
}
#hiw_1{background-image:url('../images/hiw_graphic_1.png');}
#hiw_2_eye{
	float:left;
	height:0;
	padding:0 0 53.44% 0;
	background-image:url('../images/hiw_graphic_2_eye.png');
	width:67.24%;
}
#hiw_2_fill{
	float:left;
	height:0;
	padding:0 1% 50% 0;
	width:30.17%;
	background-image:url('../images/dollar_static.png');
	background-position:0 0;
	background-repeat:no-repeat;
	-webkit-background-size: 100% auto;
 	 -moz-background-size: 100% auto;
  	-o-background-size: 100% auto;
	background-size: 100% auto; 
}
#hiw_2{background-image:url('../images/hiw_graphic_2.png');}
#hiw_3{background-image:url('../images/hiw_graphic_3.png');}
.row_text{
	float:right;
	padding-top:.6%;
	width:50%;
	margin-right:4.14%;
	padding-right:7%;
}
.row_text p{
	font:1.8em/1.2em 'National-Book', Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	margin:0 0 1% 0;
	padding:0;
}
.footnote{
	display:block;
	font:1.8em/1.1em 'National-Book', Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-align:center;
	margin-top:6.1%;
}

/* carousel */
#counter_facts{
	background-color:#dcd9c5;
	height: 0;
	/*padding-bottom: 13.54%;*/
	padding-bottom: 15%;
	overflow:hidden;
	position:relative;
}
#pagination{
	position:absolute;
	bottom:4%;
	left:59.5%;
	text-align:center;
}
#pagination a{
	font-size:2.5em;
	line-height:.3em;
	text-decoration:none;
	color:#a09e8f;
	text-shadow: 1px 1px 3px #666;
	letter-spacing:.2em;
}
#pagination a.selected{
	color:#ed145b;
}
.wrapper {
	position:absolute;
	background-color: #dcd9c5;
	width:100%;
	height:0;
	padding-bottom:13.75%;
	overflow:hidden;
}
.list_carousel {
	background-color: #dcd9c5;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	background-color: #dcd9c5;
	width: 100%;
	height: 105px;
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}
.list_carousel_container_outer {
	width:62.5%;
	height:105px;
	margin:1.9% 6.25% 0 0;
	float:right;
}
.list_carousel_container {
	width:84.8%;
	float:left;
}
.list_carousel.responsive {
	width: auto;
	margin: 0;
}
.carousel_title {
	width:21.9%;
	padding:3.5% 0 0 4.5%;
	float:left;
}
.tilecolumn{float:left;}
.tilecolumn img {width:100%;}
.tile60 {width:60%;}
.tile40 {width:40%;}
.fulltile {
	width:100%;
	height:0;
}
.fulltile {padding-bottom:18.88%;}
.fulltile img {width:100%;}
.tile50 {width:50%;}
.carousel_text{
	width:50%;
	float:left;
	font:1.2em/1.1em 'Carton', Georgia, "Times New Roman", Times, serif;
	text-transform:uppercase;
	color:#a09e8f;
}
.emphasize_txt{
	color:#838170;
}
.prev {
	width:7.5%;
	float: left;
	cursor:pointer;
}
.next {
	width:7.5%;
	float: right;
	cursor:pointer;
}


/* Who we are accordion */
#accordion_container{
	width:65%;
	float:right;
	text-align:left;
	margin-top:-1%;
}
.ui-accordion-header{
	display:block;
	cursor:pointer;
	background-color:#a09e8f;
	margin:0;
	color:#383732;
	outline:none !important;
	font:1.4em 'National-Book', Arial, Helvetica, sans-serif;
	padding:.8% 1.7% .8% 1.7%;
}
#accordion > h3 {
    margin-top: 1%;
 }

#accordion > h3:first-child {
      margin-top: 1%;
}
.propername{
	font-family:'National-Semibold', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.ui-accordion-header-active{
	margin-bottom:0;

}
.ui-accordion-header-icon{
	display:block;
	float:right;
	width:3%;
	height:0;
	margin:1% 0 0 0;
	padding-bottom:2%;
	background-repeat:no-repeat;
	background-size:100%;
}
.ui-accordion-header-icon.ui-icon-up{background-image:url('../images/arrow_up.png');}
.ui-accordion-header-icon.ui-icon-down{background-image:url('../images/arrow_down.png');}
.ui-accordion-content{
	background-color:#dcd9c5;
	color:#383732;
	font:1.2em 'National-Book', Arial, Helvetica, sans-serif;
}
.contact_details{
	width:88%;
	margin-right:1.5%;
	float:right;
}
.contact_bar{
	width:3.5%;
	float:left;
	margin:2.5% 1.5% 2.5% 1.5%;
	padding:1.5%;	
	border-top:1px solid #a09e8f;
	border-bottom:1px solid #a09e8f;
}
.contact_bar a{
	display:block;
	margin-bottom:2.5%;
	width:98%;
	height:0;
	padding-bottom:98%;
	background-repeat:no-repeat;
	background-position: center center;
	background-size:100%;
}
.contact_twitter{background-image:url('../images/contact_icon_twitter.png');}
.contact_email{background-image:url('../images/contact_icon_email.png');}

/* Tooltip style Source popup */
.sourcelink{
	position:absolute;
	bottom:5%;
	font-weight:bold;
	color:#ed145b;
}
.toolTipWrapper {
	position: relative;
}
.toolTipWrapper_inner {
	text-decoration:underline;
	color:#FFF;
	font:1.2em 'National-Book', Arial, Helvetica, sans-serif;
	cursor:pointer;
}
.toolTipWrapper_inner:hover {
	color:#FFF;
}
.popup {
	position: absolute;
	display: none; /* keeps the popup hidden if no JS available */
	border-top:1px solid #383732;
	width:610%; /* based on the source link container being about 35px wide equivalent in 960px wide max*/
	font:1.2em 'National-Book', Arial, Helvetica, sans-serif;
	color:#383732;
	padding-bottom:34.5%;
	background:url('../images/tooltip_bg.png') center bottom no-repeat;
	background-size:100%;
}
.popup_inner{
	padding:5%;
	border-right:1px solid #383732;
	border-left:1px solid #383732;
	background-color:#dcd9c5;
}
.popup_inner a{
	color:#ed145b !important;
	font-family:'National-Bold', Arial, Helvetica, sans-serif ;
}

/* Tooltip style source popup for Carousel items */
#carousel .sourcelink{
	position:inherit;
	font-weight:bold;
	color:#ed145b;
	margin-top:-3%;
}
.toolTipWrapperHorizontal {
	position: relative;
}
.toolTipWrapperHorizontal .toolTipWrapper_inner {
	text-decoration:underline;
	text-transform:lowercase;
	color:#a09e8f;
	font:1.2em 'National-Book', Arial, Helvetica, sans-serif;
	padding:0 0 2% 0;
	display:block;
	cursor:pointer;
}
.toolTipWrapperHorizontal .toolTipWrapper_inner:hover {
	color:#a09e8f;
}
.toolTipWrapperHorizontal .popup {
	position: absolute;
	display: none; /* keeps the popup hidden if no JS available */
	border-top:none;
	border-bottom:none;
	width:40%; 
	font:1.2em 'National-Book', Arial, Helvetica, sans-serif;
	text-transform:none;
	color:#FFFFFF;
	padding-bottom:0;
	padding-left:2.1%;
	background: url('../images/tooltip_left_tab.png') left bottom no-repeat;
}
.toolTipWrapperHorizontal .popup_inner{
	padding:5%;
	border-right:1px solid #4b4a43;
	border-left:none;
	border-top:1px solid #4b4a43;
	border-bottom:1px solid #4b4a43;
	background-color:#a09e8f;
}
.toolTipWrapperHorizontal .popup_inner a{
	color:#4b4a43 !important;
	font-family:'National-Bold', Arial, Helvetica, sans-serif ;
}

.hideme{
	display:none !important;	
}

/* Adaptive Layout adjustments */

@media (max-width: 320px) { /* mobile portrait */
	#nav_container {
		width: 95px;
	}
	#fancynav {
		position: fixed;
		height: 140px;
		width: 95px;
	}
	#fancynav a{
		line-height:10px;
	}
	#section_one .section_textbox, #section_two .section_textbox{
		padding-bottom: 125%;
	}
	.section_textbox {
		padding: 10% 8.33% 0 9.375%;
	}
	.section_textbox p{
		font:1.8em/1em 'National-Book', Arial, Helvetica, sans-serif;
		margin:0 0 1em 0;
	}
	.row{
		margin-bottom:3%;
	}
	.row_text{
		padding-top:.4%;
		width:50%;
	}
	#section_four {
		padding-bottom: 185% !important;
	}
	.divider_footer {
		line-height:1.2em !important;
	}
	.divider_footer .lft_txt, .divider_footer .rt_txt, #back_to_top{
		display:none;	
	}
	.contact_details {
		width: 75%;
	}
	.contact_bar {
		margin: 4% 1.5% 2.5% 3%;
		width: 12%;
	}
	
	#video_mask, #video_circle{
		/*display:none;*/
	}
	.responsive_video {
		width: 320px;
		height: 180px ;
	}
	.responsive_video iframe {
		width: 320px;
		height: 180px;
	}


} 
@media (max-width: 550px) { 
	#section_four{
		padding-bottom: 120%;
	}
} 
@media (max-width: 568px) { /* iPhone 5 horizontal */
	.contact_details {
		width: 78%;
	}
	.contact_bar {
		margin: 3.5% 1.5% 2.5% 3%;
		width: 9%;
	}
	#back_to_top {
		width: 7%;
		padding-top: 1.5%;
		position: absolute;
		right: -7%;
		top: 30px;
		font: 1em "Carton", Georgia, "Times New Roman", Times, serif;
		color:#4b4a43 !important;
	}
	#video_mask, #video_circle{
		display:none;
	}
	#video_circle{
		/*background-size:24%;*/
	}
	
} 
@media (max-width: 470px) { 
	#section_four{
		padding-bottom: 150%;
	}
} 
@media (max-width: 1055px) { 
	#nav_container{
		right:0;
	}
	#social_nav_container{
		right:30px;
	}
	#back_to_top{
		right:1.5%;
	}
} 
@media (max-width: 960px) { 
	.toolTipWrapper_inner {
		font:1.7em 'National-Book', Arial, Helvetica, sans-serif;
	}
	.popup {
	
		/*width:610%; */
		font:1.7em 'National-Book', Arial, Helvetica, sans-serif;
		/*padding-bottom:72%;*/
	}	
} 

/*STYLING TO FIX SMALL DEVICE ISSUES*/
@media (max-width: 960px) { 
	
	#section_two_point_five {
		height:auto !important;
	}
	
	.paper {
		min-height: 700px;
		margin-bottom:-90%;
	}
}

@media (max-width: 480px) { 
	.paper {
		font-size:2.1em;
		min-height: 360px;
	}
	
	.paper li{
		margin-left:-30px;
	}
	
	#section_three {
		height:auto !important;
		padding-bottom:5%;
	}
	
	#section_two {
		min-height:150px;
		background-size:cover;
	}
	
	#solution_textbox {
		min-height:150px;
	}
	
	.toppad{
		margin-left:170px;
		margin-top:-70px !important;
	}
	
	#footerlogo{
		top:-160%;
	}

}
/*END SMALL DEVICE STYLE FIXES*/


/* Forms */
form{
	display:block;	
}
form label{
	font:1.6em/1em 'National-Book', Arial, Helvetica, sans-serif;
	color:#838170;
}
input[type="submit"]{
	background-color:#ed145b;
	text-align:center;
	color:#FFFFFF;
	font:1.5em/1em 'Cubano-Regular', Arial, Helvetica, sans-serif;
	border:none;
	padding:0.5em 0.9em;
	cursor:pointer;
}

.signup-form {
	width:95%;
	font:1.5em/1.5em Georgia, "Times New Roman", Times, serif;
	/*text-transform:uppercase;*/
	color:#838170;
	padding:0 0 0 1%;
	margin-bottom:2%;
	border:1px solid #a09e8f;
}

/* universal layout */


.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

.subpage-container {
	margin-top:-20%;
	padding-bottom:60% !important;
}

.subpage-subheader h5 {
	float:left;
	margin-right:5%;
	margin-top:-2%;
	font: normal 1.7em/1em 'Cubano-regular', Arial, Helvetica, sans-serif;
	color:#6c6a5b;
}

#campaign-image {
	max-width:30%;
}
