---
layout: default
title: CounterPAC
id: home
---
    
      <!-- INTRO -->
      <section id="intro">
      
        <h1 class="tagline">
          Money is corrupting our elections.
          <span class="mts">We have a solution.</span>
        </h1>
      
        <div class="description pbm">
          <p>As our elections become increasingly flooded with special interest money, Americans have lost hope in our democracy.</p>
          <p class="ptm">CounterPAC has a plan to restore it.</p>
        </div>
        
      </section>

      <!-- HOW IT WORKS -->
      <section class="howitworks pal">
        <h1>How it works</h1>
        <ol class="steps clearfix">
          <li class="step step1">
            <span>1</span>
            <p>
              <strong>Call for Reform</strong>
              CounterPAC picks races where money is playing a particularly corruptive role, and we challenge the candidates to take a reform pledge 
              that would bring greater accountability to their campaign practices.</p>
          </li>
          <li class="step step2">
            <span>2</span>
            <p>
              <strong>Incentivize Action</strong>
              We begin each race as a completely neutral entity, incentivizing candidates to take our reform pledges through our commitment to 
              supporting those who do and holding those who fail to act accountable.</p>
          </li>
          <li class="step step3">
            <span>3</span>
            <p>
              <strong>Hold Candidates Accountable</strong>
              When we succeed in brokering mutual pledge agreements between candidates, we continue to monitor the race to ensure that both 
              candidates are following the rules and any violations are met with appropriate accountability.</p>
          </li>
        </ol>
        <a href="{{ site.url }}/pledges/no-dark-money/" class="see-pledges lrg-btn transition">See our pledges</a>
      </section>

      <!-- CAMPAIGN -->
      <section class="campaign-h-list article-hover">
        <h1>Our Work</h1>
        <div class="section-inner">
          
          <!-- to add campaigns here, edit _data/campaigns.yml -->
          {% for story in site.data.campaigns %}
          
            {% if story.featured %} <!-- for homepage featured -->
              {% include campaign_pod.html %}
            {% endif %}
          
          {% endfor %}
          
        </div>
      </section>
      
      <div class="hex_pattern_bg">
        <section id="press" class="edge">
          <h1>Press</h1>
          <div class="article_outer translucent">
            
            {% for story in site.data.press limit:5 %}
            <article class="press_article" onclick="window.open('{{ story.link }}')">
              <a class="title">{{ story.title }}</a>
              <span class="source">{{ story.media }}</span>
              <span class="date">{{ story.date }}</span>
            </article>
            {% endfor %}
            
            <a href="{{ site.url }}/press/" class="see_all">See All Press</a>
          </div>
        </section>
    
        <!-- BLOG SECTION - uncomment to make it live 
        <section class="blog edge">
          <h1>Blog</h1>
          <div class="content_list blog_posts translucent">
            
            {% for post in site.posts limit:3 %} 
              <article class="transition" onclick="location.href='{{ post.url }}'">
                <div class="title_date mtm clear">
                  <a href="{{ site.url }}{{ post.url }}" class="title">{{ post.title }}</a>
                  <span class="byline_date h4">
                    {% if post.author %}
                      {{ post.author }} - 
                    {% endif %}
                    {{ post.date | date: "%b %-d, %Y" }}
                  </span>
                </div>
                <div class="preview_text">
                  {{ post.summary | truncate: 300, '&hellip;' }}
                </div>
              </article>
            {% endfor %}

            <a href="{{ site.url }}/blog/" class="see_all">All Blog Posts</a>
          </div>
        </section>
        -->
        
      </div> <!-- end hex pattern -->
      
