---
title: News
---

{% include header.html %}

  <div id="outer_main">
    <div id="inner_main">
      <!-- home -->
      <div id="section_home" class="inner_container bg_sizing">
        <div class="block_container clearfix">
          <div class="centercol">
            <a href="http://www.counterpac.org"><img src="http://www.counterpac.org/images/home_medallion_1.png" id="medallion" /></a>
          </div>
        </div>
      </div>
      <!-- home -->
      
      <!-- section 4 -->
      <div id="section_four" class="inner_container section_container subpage-container clearfix">
        <div class="block_container clearfix">
          <div id="take_action" class="section_four_inner clearfix">
            <div class="subpage-subheader">
              <h3 class="salmon">News</h3>
              <h5>Read about CounterPAC's Activities in the Press</h5>
              <br style="clear:both;" />  
            <br />
            <table class="ad-index">
            	<thead>
            		<tr>
            			<th>
            				Date
            			</th>
            			<th>
            				Title
            			</th>
            			<th>
            				Excerpt
            			</th>
            		</tr?
            	</thead>
            	<tbody>
            		<tr>
            			<td>
            				09-16-2014
            			</td>
            			<td>
            				Upstart CounterPAC Brings Down Corrupt Lobbyist
            			</td>
            			<td>
                                                etc.
            			</td>
            		</tr>
            	</tbody>
            </table>
            
            </div>
          </div>

          
         
        </div>
      </div>
      <!-- end section 4 -->

      {% include footer.html %}

    </div>
  </div>

{% include endfooter.html %}