---
title: News
---

{% include header.html %}

  <div id="outer_main">
    <div id="inner_main">
      <!-- home -->
      <div id="section_home" class="inner_container bg_sizing">
        <div class="block_container clearfix">
          <div class="centercol">
            <a href="http://www.counterpac.org"><img src="http://www.counterpac.org/images/home_medallion_1.png" id="medallion" /></a>
          </div>
        </div>
      </div>
      <!-- home -->
      
      <!-- section 4 -->
      <div id="section_four" class="inner_container section_container subpage-container clearfix">
        <div class="block_container clearfix">
          <div id="take_action" class="section_four_inner clearfix">
            <div class="subpage-subheader">
              <h3 class="salmon">News</h3>
              <h5>Read about CounterPAC's Activities in the Press</h5>
              <br style="clear:both;" />  
            <br />
            <table class="ad-index">
            	<thead>
            		<tr>
            			<th>
            				Date
            			</th>
            			<th>
            				Race
            			</th>
            			<th>
            				Medium
            			</th>
            			<th>
            				Preview
            			</th>
            		</tr?
            	</thead>
            	<tbody>
            		<tr>
            			<td>
            				09-16-2014
            			</td>
            			<td>
            				Colorado 6th District
            			</td>
            			<td>
            				KUSA-NBC, KCNC-CBS, KDVR-Fox, KMGH-ABC
            			</td>
            			<td>
            				<a href="http://www.counterpac.org/campaigns/dark-money-mike.html"><img class="vid-thumb" src="http://www.counterpac.org/images/dark-money-mike-thumb.jpg" /></a>
            			</td>
            		</tr>
            		<tr>
            			<td>
            				08-26-2014
            			</td>
            			<td>
            				Iowa Senate
            			</td>
            			<td>
            				Des Moines Register
            			</td>
            			<td>
            				<a href="http://www.counterpac.org/images/CounterPAC_IA_10x20.5.jpg"><img id="campaign-image" src="http://www.counterpac.org/images/ia_sen_print_thumb.jpg" /></a>
            			</td>
            		</tr>
            		<tr>
            			<td>
            				08-26-2014
            			</td>
            			<td>
            				Colorado 6th District
            			</td>
            			<td>
            				Denver Post
            			</td>
            			<td>
            				<a href="http://www.counterpac.org/images/CounterPAC_CO-06-9.888x19.5.jpg"><img id="campaign-image" src="http://www.counterpac.org/images/co_06_print_thumb.jpg" /></a>
            			</td>
            		</tr>
            		<tr>
            			<td>
            				08-21-2014
            			</td>
            			<td>
            				Alaska Senate
            			</td>
            			<td>
            				NBC-KTUU, ABC-KYUR, CBS-KTVA, ABC-KJUD; Alaska Dispatch News; Facebook; Twitter
            			</td>
            			<td>
            				<a href="https://www.youtube.com/watch?v=NYa2HicE-jY"><img class="vid-thumb" src="http://www.counterpac.org/images/ak_vid_thumb.jpg" /></a>
            			</td>
            		</tr>
            		<tr>
            			<td>
            				08-21-2014
            			</td>
            			<td>
            				Georgia Senate
            			</td>
            			<td>
            				NBC-WXIA, ABC-WSB, CBS-WGCL; Facebook; Twitter
            			</td>
            			<td>
            				<a href="https://www.youtube.com/watch?v=xLVxV5VXX5s"><img class="vid-thumb" src="http://www.counterpac.org/images/ga_vid_thumb.jpg" /></a>
            			</td>
            		</tr>
            		<tr>
            			<td>
            				07-31-2014
            			</td>
            			<td>
            				Alaska Senate
            			</td>
            			<td>
            				Alaska Dispatch News
            			</td>
            			<td>
            				<a href="http://www.counterpac.org/images/20140730_counterpac_ak.png"><img id="campaign-image" src="http://www.counterpac.org/images/20140730_counterpac_ak_thumb.png" /></a>
            			</td>
            		</tr>
            		<tr>
            			<td>
            				07-31-2014
            			</td>
            			<td>
            				Georgia Senate
            			</td>
            			<td>
            				Atlanta Journal-Constitution
            			</td>
            			<td>
            				<a href="http://www.counterpac.org/images/20140730_counterpac_ga.png"><img id="campaign-image" src="http://www.counterpac.org/images/20140730_counterpac_ga_thumb.png" /></a>	
            			</td>
            		</tr>
            		<tr>
            			<td>
            				07-31-2014
            			</td>
            			<td>
            				West Virginia 3rd District
            			</td>
            			<td>
            				Charleston Gazette
            			</td>
            			<td>
            				<a href="http://www.counterpac.org/images/20140730_counterpac_wv03.png"><img id="campaign-image" src="http://www.counterpac.org/images/20140730_counterpac_wv03_thumb.png" /></a>
            			</td>
            		</tr>
            	</tbody>
            </table>
            
            </div>
          </div>

          
         
        </div>
      </div>
      <!-- end section 4 -->

      {% include footer.html %}

    </div>
  </div>

{% include endfooter.html %}