</div>
<script type="text/javascript">
 $(document).ready( function(){

 		// 2015 design tweaks

		$('.ad-index tbody tr td:first-child').addClass('date-field');
		$('.ad-index tbody tr td:nth-child(2)').addClass('headline');
		$('.news-index a').attr("target", "_blank");

    });
</script>
<script src="http://www.counterpac.org/js/custom_scripts.js"></script>
<script>
	//frame animation
		$(function(){
			//$(".dollaranimation").frameAnimation({delay:90, mouseOut:false, repeat:1, imageHeight:1160 });
		});

	</script>
<script src="http://www.counterpac.org/js/jquery.scrolldepth.js"></script>
<script>
    $.scrollDepth({
      testing: true,
      elements: ['#section_video', '#section_one', '#section_two', '#section_three', '#section_four']
    });
  </script>
</body>
</html>
