</div>
<script src="http://www.counterpac.org/js/custom_scripts.js"></script>
<script>
	//frame animation
		$(function(){
			//$(".dollaranimation").frameAnimation({delay:90, mouseOut:false, repeat:1, imageHeight:1160 });
		});

	</script>
<script src="http://www.counterpac.org/js/jquery.scrolldepth.js"></script>
<script>
    $.scrollDepth({
      testing: true,
      elements: ['#section_video', '#section_one', '#section_two', '#section_three', '#section_four']
    });
  </script>
</body>
</html>
