      <div class="divider_footer  clearfix"> <span class="lft_txt">PAID FOR BY COUNTERPAC | NOT AUTHORIZED BY ANY CANDIDATE OR CANDIDATE'S COMMITTEE</span> <span class="rt_txt">&copy; 2014 COUNTERPAC. ALL RIGHTS RESERVED.&nbsp;&nbsp;&nbsp;<a id="privacy-policy-link">Privacy policy</a></span> 
      <img src="http://www.counterpac.org/images/footer_logo_1.png" id="footerlogo" />
      <a href="#section_home" id="back_to_top" class="nav_item">back to top</a>
      
      </div>
      <!-- footer -->
      <div id="section_footer" style="display:none;">
        <div id="section_footer_inner" class="clearfix">
          <div class="footer_col">
            <h5>Privacy Policy</h5>
            <p>CounterPAC is committed to protecting your privacy online. While using our website, you do not have to identify yourself or divulge personal information. If you should choose to give us your personal information, you decide the amount of information you provide.</p>
            <p>Our mission is to give citizens the information they need in a timely manner. As a result, we may periodically ask you to provide information such as your name, address, phone number and email address in an effort to enhance our ability to work with you as an online supporter.</p>
            <p>In the event you make a donation, CounterPac will use the information you provide only to complete your donation and to provide you with tools to manage and monitor your transactions. CounterPac will not share, rent or sell this information to any third parties without your consent, except that your credit card and other personal information will be shared with our credit card processor and then only to process the transaction.</p>
            <p>This privacy policy may be amended by CounterPAC at any time without notice other than posting of such amendments on this site.</p>
            <p>CounterPAC will not sell your email address or other personal information to an outside, unaffiliated organization or any unauthorized third parties.</p>
          </div>
        </div>
      </div>
      <!-- END footer -->