<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CounterPAC</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link href="http://www.counterpac.org/css/styles.css?v=3" rel="stylesheet" type="text/css" />

<link rel="icon" type="image/png" href="http://www.counterpac.org/favicon.png" />
<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="css/ie8-and-down.css" />
<![endif]-->
<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="css/ie8-and-down.css" />
<![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" language="javascript" src="http://www.counterpac.org/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" language="javascript" src="http://www.counterpac.org/js/waypoints.min.js"></script>
<script type="text/javascript" language="javascript" src="http://www.counterpac.org/js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript" language="javascript" src="http://www.counterpac.org/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" language="javascript" src="http://www.counterpac.org/js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" language="javascript" src="http://www.counterpac.org/js/jquery.frame.animation.1.1.2.js"></script>
<script type="text/javascript" language="javascript" src="http://www.counterpac.org/js/frame_animate.js"></script>
<script type="text/javascript" language="javascript" src="http://www.counterpac.org/js/jquery.validate.min.js"></script>
<!-- carousel -->
<script type="text/javascript" language="javascript">
			$(function() {

				//	Responsive layout, resizing the items
				$('#carousel').carouFredSel({
					auto: {
            duration: 1000,
						pauseOnHover: true,
						play: true
					},
					prev: '#prev1',
					next: '#next1',
					responsive: true,
					width: '100%',
					scroll: 1,
					swipe: {
						onMouse: true,
						onTouch: true
					},
					pagination: {
						container : "#pagination",
						anchorBuilder   : function(nr) {
							return '<a href="#'+nr+'"><span>&bull;</span></a>';
						}
					},
					items: {
						width: 400,
					//	height: '30%',	//	optionally resize item-height
						visible: {
							min: 1,
							max: 1
						}
					}
				});


			});
</script>
<script type="text/javascript" language="javascript">
// form validation
$().ready(function() {
    $("#privacy-policy-link").click( function() {
      $("#section_footer").slideDown();
      $("html, body").animate({ scrollTop: $(document).height() } );
      return false;
    });

		$("#subForm").validate({
		rules: {
			email: {
				required: true,
				email: true
			}
		},
		messages: {
			email: "Please enter a valid email address"
		}
	});

  $("#pledge-read-more").click( function() {
    $("#pledge-remaining").removeClass( "hideme" );
    $("#pledge-read-more").addClass( "hideme" );
    $("#section_two_point_five").css( "padding-bottom", "110%" );
    return false;
  });

  $(".question").click( function() {
    $(this).siblings(".answer").toggleClass( "hideme" );
  });


  $("#donate").click( function() {
    document.location = "https://counterpac.wufoo.com/forms/z1ikvqls15oia2i/";
  });



	/*$("#donationForm").validate({
		rules: {
			name: "required",
			email: {
				required: true,
				email: true
			},
			amount: {
				required: true,
				number: true
			}
		},
		messages: {
			name: "Please enter your name",
			email: "Please enter a valid email address",
			amount: {
				required: "Please enter a donation amount",
				number: "Donation amount must be a number"
			}
		}
	});*/

});
</script>
<!-- Analytics  -->
<script type="text/javascript" language="javascript">
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-41841100-1', 'counterpac.org');
	  ga('send', 'pageview');
</script>
<script type="text/javascript" language="javascript">
  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true,
	  active: false,
	  icons: { "header": "ui-icon-down", "activeHeader": "ui-icon-up" },
	  heightStyle: "content"
    });
  });
</script>
</head>
<body>
    <div id="fb-root"></div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=204262023106809";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div id="topbar_container">
  <div id="topbar"></div>
  <div id="closebox"></div>
</div>
<div id="scale_container">
  <div id="social_nav_container">
    <div id="social_nav"> 
      <a href="https://www.facebook.com/counterpac.org" target="_blank" id="fb"></a> <a href="https://twitter.com/counterpac" target="_blank" id="twitter"></a>
    </div>
  </div>
  <div id="nav_container">
    <div id="fancynav">

        <a href="#section_one" id="nav_section_one" class="nav_item">problem</a>
        &bull;
        <a href="#section_two" id="nav_section_two" class="nav_item">solution</a>
        &bull;
        <a href="#section_three" id="nav_section_three" class="nav_item">how it works</a>
        &bull;
        <a href="#section_four" id="nav_section_four" class="nav_item">take action</a>
        &bull;
        <a id="nav_share" class="nav_item">share</a>
    </div>
  </div>
