<head>
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/styles/site.css">
  <title>{{ page.title }}</title>
  
  <meta charset="UTF-8">
  <meta name="keywords" content="CounterPAC, Campaign Finance Reform, Campaign Spending, Election Spending, Campaign Finance Transparency, Citizens United, Untraceable Attack Money, No Dark Money, No Outside Money">
  <meta name="description" content="As our elections become increasingly flooded with special interest money, Americans have lost hope in our democracy. CounterPAC has a plan to restore it." />

  <meta property="og:image" content="{{ site.url }}/images/cp_share.png"/>
  <meta property="og:title" content="CounterPAC - Mutual Assured Democracy"/>
  <meta property="og:description" content="As our elections become increasingly flooded with special interest money, Americans have lost hope in our democracy. CounterPAC has a plan to restore it."/>

  <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon.png" />
	
  <!-- Library stylesheets -->
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/scripts/slick/slick.css"/>
  <link rel="stylesheet" href="{{ site.url }}/scripts/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
  
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
</head>