  <div id="nav_container">
    <div id="fancynav">

        <a href="/#section_one" id="nav_section_one" class="nav_item">problem</a>
        &bull;
        <a href="/#section_two" id="nav_section_two" class="nav_item">solution</a>
        &bull;
        <a href="/#section_three" id="nav_section_three" class="nav_item">how?</a>
        &bull;
        <a href="/#section_four" id="nav_section_four" class="nav_item">take action</a>
        &bull;
        <a href="/news" id="nav_news" class="nav_item">news</a>
        &bull;
        <a href="/blog" id="nav_blog" class="nav_item">blog</a>
        &bull;
        <a id="nav_share" class="nav_item">share</a>
    </div>
  </div>
