---
layout: default
title: CounterPAC Blog
id: press
body_class: blog
active: blog
---

<section class="hex_pattern_bg edge">
  <h1 class="ptl">Blog</h1>
  <p class="intro invert under_emphasis emphasis">Updates From CounterPAC's Internal Blog.</p>
  <!-- -->
  <div class="content_list blog_posts translucent invert">
    
    {% for post in paginator.posts %}
      <article class="transition" onclick="location.href='{{ post.url }}'">
        <div class="title_date mtm clear">
          <a href="{{ site.url }}{{ post.url }}" class="title">{{ post.title }}</a> <!-- still need after launch? -->
          <span class="byline_date h4">
            {% if post.author %}
              {{ post.author }} - 
            {% endif %}
            {{ post.date | date: "%b %-d, %Y" }}
          </span>
        </div>
        <div class="preview_text">
          {{ post.summary }}
          <a href="{{ post.url }}" class="full_post">Full Post &raquo;</a>
        </div>
      </article>
    {% endfor %}
    
    {% if paginator.total_pages > 1 %}
    <div class="pagination pages">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="prev-next">&laquo; Prev</a>
      {% else %}
        <span class="prev-next">&laquo; Prev</span>
      {% endif %}
      
      <span class="pages-num">
        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <em>{{ page }}</em>
          {% elsif page == 1 %}
            <a href="{{ '/blog/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
          {% else %}
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
          {% endif %}
        {% endfor %}
      </span>

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="prev-next">Next &raquo;</a>
      {% else %}
        <span class="prev-next">Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %}

  </div>
  
</section>