---
layout: default
title: CounterPAC Campaigns
id: race
active: pledges
---

<section class="race_details">
  <header>
    <h1 class="mbn">West Virginia<br/>3rd Congressional District, 2014</h1>
    <h2 class="h3 invert">Goal: <a href="{{ site.url }}/pledges/no-dark-money/">No Dark Money</a></h2>
  </header>
  <div class="overview clear">
    <div class="candidates">
      <img src="{{ site.url }}/images/campaigns/candidate_jenkins.jpg" class="candidate1">
      <img src="{{ site.url }}/images/campaigns/candidate_jenkins.jpg" class="candidate2">
    </div>
    <div class="text_summary translucent invert">
      <strong class="h2 emphasis under_emphasis">When 19-term incumbent Nick Rahall blocked a pledge agreement, we held him accountable.</strong>
      <p>In WV-03, after 19-term Democratic incumbent Nick Rahall obstructed a pledge agreement with his opponent, we held him accountable by running ads in his district that highlighted his choice to side with secret donors over voters. In a race that Politico had called one of the tightest in the country, Rahall ultimately lost, and polling showed that our campaign played a meaningful role in the outcome. --make background flexible--</p>
    </div>
  </div>
</section>

<section class="timeline">
  <h1>Timeline</h1>
  <iframe src="{{ site.url }}/timelines/2014_Rahall-Jenkins_timeline.html" frameborder="0" scrolling="no" width="100%" height="700"></iframe>
</section>
